node_modules
dist
.env
Server/node_modules/*
jira-mcp/node_modules/*
jira-mcp/build
jira-mcp/.env
jira-mcp/.github
jira-client/node_modules/*
jira-client/build/*
jira-client/.env
chatbot-fe/node_modules/*